* {
    font-family: Lato, Arial;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    background-color: black;
    color: white;
    min-width: 750px;
    overflow-x: hidden;
    overflow-y: visible;
}

.container {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.top-layout {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 450px;
}

.x-score,
.o-score {
    background-color: black;
    border-radius: 3px;
    text-align: center;
    width: 100px;
    text-shadow: 0 0 10px white;
}

.x-score {
    border: 3px rgb(0, 255, 255) solid;
    box-shadow: 0 0 10px rgb(0, 255, 255);
}

.o-score {
    border: 3px rgb(255, 0, 255) solid;
    box-shadow: 0 0 10px rgb(255, 0, 255);
}

.x-score p:first-child,
.o-score p:first-child {
    padding: 1rem 0;
    margin: 0;
    font-weight: 700;
}

.x-score p:first-child {
    border-bottom: 1.5px solid rgb(0, 255, 255);
    box-shadow: 0 0 10px rgb(0, 255, 255);
}

.o-score p:first-child {
    border-bottom: 1.5px solid rgb(255, 0, 255);
    box-shadow: 0 0 10px rgb(255, 0, 255);
}

#x-score,
#o-score {
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0;
}

#x-score {
    border-top: 1.5px solid rgb(0, 255, 255);
    box-shadow: 0 0 10px rgb(0, 255, 255);
}

#o-score {
    border-top: 1.5px solid rgb(255, 0, 255);
    box-shadow: 0 0 10px rgb(255, 0, 255);
}

.guide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guide-text p {
    margin: 0;
    font-size: xx-large;
    text-shadow: 0 0 10px white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    border: 1.5px rgb(0, 255, 255) solid;
    box-shadow: 0 0 10px rgb(0, 255, 255);
    width: 450px;
    align-self: center;
    margin-bottom: 2rem;
}

.grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: center;
    border: 1.5px rgb(0, 255, 255) solid;
    box-shadow: 0 0 10px rgb(0, 255, 255);
}

.grid div p {
    margin: 0;
    font-size: 5rem;
    text-shadow: 0 0 10px white;
}

.bottom-layout {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.reset-button {
    color: white;
    background-color: transparent;
    border: 3px red solid;
    box-shadow: 0 0 10px red;
    text-shadow: 0 0 10px white;
    border-radius: 3px;
    padding: 1rem 4rem;
    font-size: large;
    justify-self: left;
}

.reset-button:hover {
    animation: flicker 0.25s;
    background-color: red;
    cursor: pointer;
}

@keyframes flicker {
    0% {background-color: red;}
    20% {background-color: red;}
    25% {background-color: transparent;}
    70% {background-color: transparent;}
    75% {background-color: red;}
}

a {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 50px;
    margin: auto;
}

a img {
    width: 50px;
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
}

a img:hover {
    transform: scale(1.2) rotate(5deg);
    cursor: pointer;
}